.Hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #53389E;
    margin: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    padding: 4rem 4rem 0rem 4rem;
}

.hero-title{
    color: white;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-subtitle{
    color: #E9D7FE;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-text{
    width: 40rem;
    color: #E9D7FE;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    margin: 1rem;
}

.email-capture{
    display: flex;
    flex-direction: column;
}

.email-input{
    width: 17rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    margin-right: 1rem;
    color: #667085;
}

.email-button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    background-color: #7F56D9;
    color: white;
}

.pp-section-div{
    margin: .4rem;
    display: flex;
    color: #E9D7FE;
    font-size: .8rem;
    margin-bottom: 8rem;
}

.pp-link{
    text-decoration: underline;
    color: #E9D7FE;
    margin-left: .15rem;
}

.img-set{
    display: flex;
    flex-direction: column;
}

.line-pattern-1{
    width: 200px;
    margin-top: -15rem;
}

.line-chart{
    width: 80%;
    align-self: center;
    margin-top: -20rem;
}

.pie-chart{
    width: 18%;
    align-self: flex-end;
    margin-top: -16rem;
    margin-right: 12%;
}

.line-pattern-2{
    width: 12rem;
    align-self: flex-end; 
    margin-top: -21rem;
    margin-right: 5rem;
    z-index: -1;
}

@media (max-width:320px)  { 

 }
@media (max-width:481px)  {

 }
@media (max-width:641px)  {

 }
@media (max-width:961px)  { 
    .line-pattern-1{
        transform: scale(.8);
    }
    .line-pattern-2{
        transform: scale(.8);
    }
    .line-chart{
        transform: scale(.8);
    }
    .pie-chart{
        transform: scale(.8);
    }
 }
