@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: roboto;
    font-size: 16px;
}

.site-nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
}

.left-nav{
    display: flex;
    align-items: center;
}

.right-nav{
    display: flex;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: #475467;
    margin: 1rem;
    font-weight: 500;
}
.nav-btn{
    font-family: roboto;
    font-size: 1rem;
    padding: .7rem .9rem;
    border: hidden;
    background-color: #7F56D9;
    color: white;
    border-radius: .6rem;
}

.Hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #53389E;
    margin: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    padding: 4rem 4rem 0rem 4rem;
}

.hero-title{
    color: white;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-subtitle{
    color: #E9D7FE;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-text{
    width: 40rem;
    color: #E9D7FE;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    margin: 1rem;
}

.email-capture{
    display: flex;
    flex-direction: column;
}

.email-input{
    width: 17rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    margin-right: 1rem;
    color: #667085;
}

.email-button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    background-color: #7F56D9;
    color: white;
}

.pp-section-div{
    margin: .4rem;
    display: flex;
    color: #E9D7FE;
    font-size: .8rem;
    margin-bottom: 8rem;
}

.pp-link{
    text-decoration: underline;
    color: #E9D7FE;
    margin-left: .15rem;
}

.img-set{
    display: flex;
    flex-direction: column;
}

.line-pattern-1{
    width: 200px;
    margin-top: -15rem;
}

.line-chart{
    width: 55rem;
    align-self: center;
    margin-top: -20rem;
}

.pie-chart{
    width: 14rem;
    align-self: flex-end;
    margin-top: -16rem;
    margin-right: 13rem;
}

.line-pattern-2{
    width: 12rem;
    align-self: flex-end;
    margin-top: -21rem;
    margin-right: 5rem;
    z-index: -1;
}
