@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: roboto;
    font-size: 16px;
}

.site-nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
}

.left-nav{
    display: flex;
    align-items: center;
}

.right-nav{
    display: flex;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: #475467;
    margin: 1rem;
    font-weight: 500;
}
.nav-btn{
    font-family: roboto;
    font-size: 1rem;
    padding: .7rem .9rem;
    border: hidden;
    background-color: #7F56D9;
    color: white;
    border-radius: .6rem;
}

.Hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #53389E;
    margin: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    padding: 4rem 4rem 0rem 4rem;
}

.hero-title{
    color: white;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-subtitle{
    color: #E9D7FE;
    font-size: 3.3rem;
    font-weight: 500;
}

.hero-text{
    width: 40rem;
    color: #E9D7FE;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    margin: 1rem;
}

.email-capture{
    display: flex;
    flex-direction: column;
}

.email-input{
    width: 17rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    margin-right: 1rem;
    color: #667085;
}

.email-button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    background-color: #7F56D9;
    color: white;
}

.pp-section-div{
    margin: .4rem;
    display: flex;
    color: #E9D7FE;
    font-size: .8rem;
    margin-bottom: 8rem;
}

.pp-link{
    text-decoration: underline;
    color: #E9D7FE;
    margin-left: .15rem;
}

/*Hero End */

.img-set{
    display: flex;
    flex-direction: column;
}

.line-pattern-1{
    width: 200px;
    margin-top: -15rem;
}

.line-chart{
    width: 55rem;
    align-self: center;
    margin-top: -20rem;
}

.pie-chart{
    width: 14rem;
    align-self: flex-end;
    margin-top: -16rem;
    margin-right: 13rem;
}

.line-pattern-2{
    width: 12rem;
    align-self: flex-end; 
    margin-top: -21rem;
    margin-right: 5rem;
    z-index: -1;
}

/*img set end*/

.integration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.integrations-topic{
    color:#101828;
    font-size: 1.5rem;
}

.integrations-text{
    color: #475467;
    text-align: center;
    padding: 1rem;
}

.site-cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.site-card-row{
    display: flex;
    margin: 1rem;
}

.site-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.card-img{
    margin: 1rem;
}

.card-title{
    margin-bottom: 1rem;
}

.card-text{
    text-align: center;
    font-size: .9rem;
    color: #475467;
}
.card-link{
    margin: 1rem;
    text-decoration: none;
    color: #6941c6;
    font-weight: 500;
    font-size: .9rem;
}

/*app integration section end*/

.stats-topic-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.stats-topic{
    margin: 1rem;
    font-size: 1.8rem;
    color: #101828;
}

.stats-text{
    color: #475467;
}

.stats{
    background-color: #F9FAFB;
    display: flex;
    margin: 2rem;
    width: 90%;
    justify-content: space-evenly;
}

.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.stat-item-topic{
    font-size: 3rem;
    font-weight: 500;
    color: #7F56D9;

}

.stat-item-text{
    font-weight: 500;
    margin: .8rem;
    color: #101828;
}

/*stat section end*/

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 3rem;
}

.features-text{
    margin: 1rem;
    align-items: center;
}

.features-heading{
    font-size: 1.8rem;
    margin: 1rem;
    color: #101828;
}

.features-subheading{
    text-align: center;
    color: #475467;
}

.features-img{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.features-pc{
    width: 50rem;
}

.features-mobile{
    width: 15rem;
    margin-top: -32.5rem;
    margin-left: -7rem;
}

.features-cards{
    margin: 1rem;
    display: flex;
}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 3rem;
}

.feature-card-topic{
    margin: 1rem;
}

.feature-card-text{
    text-align: center;
    margin-top: 0;
    margin: 1rem;
    color: #475467;
}

.feature-card-link{
    text-decoration: none;
    color: #6941C6;
    font-weight: 500;
}